/* WelcomePage.css */
.welcome-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuenDs65zkkD6I-LTsIMz0eI7bfn5213Z22A&s');
    background-size: cover;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.content {
    text-align: center;
    z-index: 1;
}

.content h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5rem;
    color: #fefefe;
    font-weight: 700;
    margin-bottom: 30px;
}

.content button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #ddd;
}